* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "poppins";
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  color: #3d3d3d !important;
  text-align: center;
}



p,
span {
  font-size: 1.6rem;
  /* font-weight: 100; */
  margin-top: 6px;
}

span{
  color: #6a6a6a;
}

p{
  font-size: 2.2rem;
  font-weight: 500;
  color: #6b6b6b;
  text-wrap: 1;
  
}

.star{
  text-align: right;
  margin-right: 6px;
  font-size: 30px;
}

li {
  list-style: none;
}

/* span {
  font-weight: bold;
} */

.container {
  max-width: 152rem;
  margin: auto;
  margin-top: 80px;
}

.grid-three-cols {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  text-align: center;
  margin: 3.2rem 0;
}

.grid-three-cols span{
  color:#8e8e8e;
}

header {
  margin: 3.2rem 0;
}

.pokemon-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.card-demo {
  display: flex;
  justify-content: center;

  & .pokemon-card {
    min-height: 32rem;
  }
}

input[type="text"]{
  border: none;
  outline: none;
  width: 32rem;
  border:  1.2px solid #d5d5d5;
  background: rgba(#e91e63, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.8em;
  font-size: 1.8rem;
  color: #000000;
  border-radius: 30px;
  transition: box-shadow 0.3s ease-in-out;
  padding-left: 22px;
  margin-right: 40px;
}


input:hover {
  /* transform: scale(1.03); */
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: rgba(17, 12, 36, 0.15) 0px 48px 100px 0px;
}

.region{
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 170px;
  border:  1.2px solid #d5d5d5;;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.8em;
  padding-right: 40px;
  font-size: 1.8rem;
  color: rgb(117, 117, 117);
  background-color: white;
  border-radius: 30px;
  transition: transform 0.3s ease;

  margin-right: 40px;
}

.region:hover .region-content{
  display: block;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.region-content{
  box-shadow: 0 10px 20px rgba(48, 48, 48, 0.2);
  left: auto;
  margin-left: -14px;
  width: 170px;
  top: auto;
  margin-top: 15px;
  border:  1.2px solid #d5d5d5;
  border-radius: 30px;
  background-color: rgb(248, 248, 248);
  z-index: 998;
  position: absolute;
  overflow: hidden;
  display: none;
}

.region-content:hover{

}

.region-content p{
  padding: 0.8em;
  transition: 
    background-color 0.3s ease-in-out, 
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s ease-in-out;
}

.region-content p:hover {
  transform: scale(1.05);
  text-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.region:hover .region-content{
  display: block;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.types {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 170px;
  border: 1.2px solid #d5d5d5;
  border-radius: 30px;
  padding: 0.8em;
  padding-right: 40px;
  font-size: 1.8rem;
  color: rgb(117, 117, 117);
  background-color: white;
  transition: transform 0.3s ease;
  margin-right: 40px;
}

.types-content {
  position: absolute;
  margin-top: 15px;
  margin-left: -14px;
  width: 450px;   /* 👈 wider than region */
  border: 1.2px solid #d5d5d5;
  border-radius: 30px;
  background-color: rgb(248, 248, 248);
  box-shadow: 4px 4px 10px rgba(48, 48, 48, 0.2);
  z-index: 998;
  overflow: hidden;
  padding: 0.8rem;
  display: none;
}

.types-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0px;
}

.types-grid p {
  padding: 0.8em;
  font-size: 2.2rem;
  transition: 
    background-color 0.3s ease-in-out, 
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.types-grid p:hover {
  /* background-color: #ebebeb; */
  transform: scale(1.05);
  text-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.types:hover .types-content{
  display: grid;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}


.arrow{
  position: absolute;
  top: 11px;
  right: 20px;
}

.no-results{
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  border-radius: 20px;
}

.pokemon-card {
  width: 36rem;
  height: 58rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 20px;
  padding: 1.6rem;
  position: relative;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(48, 48, 48, 0.2);
}

.pokemon-card:active {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.26);
}

figure {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 50px 100px rgba(50, 50, 93, 0.25));
}

.pokemon-name {
  position: relative;
  z-index: 997; 
  font-size: 3.2rem;
  text-align: center;
  text-transform: capitalize;
  margin-top: 2.4rem;
}

.pokemon-highlight {
  margin-top: 10px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  width: 60%;
  height: 15rem;
}

.pokemon-type{
  font-size: 22px;
  padding: 8px 20px;
  text-transform: capitalize;
  border-radius: 28px;
}

.no-wrap{
  font-size: clamp(18px, 2vw, 16px);
  text-transform: capitalize;
}

.info-message{
  margin-top: 20%;
}

.types-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


/* NABAR CSS */

.navbar {
  margin-top: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  /* background-color: #fff;  */
  display: flex;
  justify-content: center;
  z-index: 999;
}

.nav-background-card {
  width: 220px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 0 1px 5px rgba(31, 31, 31, 0.6);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.nav-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  font-size: 16px;
  border-radius: 40px; 
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  
}

.links {
  color: #c3c3c3; 
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.links.active {
  color: black;
}

.nav-card:hover {
  /* background-color: rgb(255, 255, 255); */
  transition: transform 0.3s color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transform: scale(1.05);
}

/* Loading */

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.progress-bar {
  width: 80%;
  max-width: 400px;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff0000, #ffcb05);
  animation: loading 2s infinite;
}

@keyframes loading {
  0%   { transform: translateX(-100%); }
  50%  { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}


